*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  /* background-color: #E1C16E; */
  position: fixed;
  z-index: 1000;
  max-width: 100vw;
  width: 100vw;
  background: #E1C16E;
  top: 0%;
  /* margin-bottom:5rem; */
}

li{
  list-style: none;
}

nav ul{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 4rem;
  font-size: 1.3rem;
}

body{
  /* padding: 0% 7%; */
  background: #f7f3e8;
  font-family: poppins, 'Courier New';
}

.main-links{
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 100%;
}

.action-links{
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 100%;
}

.main-links li{
  padding-bottom: 5px;
}

.main-links li:hover{
  border-bottom: 2px solid #E1C16E;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center;
  justify-content: center; */
  gap: 3rem;
  height: 90vh;
  padding: 0 3rem;
}

.header-img__container{
  position: relative;
  /* background: #E1C16E; */
  display: flex;
  gap: 5%;
  height: 70vh;
  margin-top: 12vh;
}

.header-img__container > div{
  /* position: absolute;
  padding: 3rem; */
  width: 28%;
}

/* .img-1{
  left: 7rem;
  z-index: 100;
  width: 60%;
  top: 4.7rem;
}

.img-2{
  right: -1rem;
  z-index: 100;
  width: 60%;
  bottom: 4.7rem;
}

.img-3{
  width: 60%;
  left: -5%;
  bottom: 4.7rem;
} */

.header-text{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.header-text h1 span{
  color: #E1C16E;
}

.header-text p{
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.header-text button{
  display: block;
  padding: .5rem 1rem;
  background: #D27D2D;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}

.single-product__page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.product-gallery{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.product-gallery .related-product__images{
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.related-product__images > div{
  width: 23%;
}

.product-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8rem;
  align-items: flex-start;
}

.product-details h2{
  font-size: 2rem;
  color: #E1C16E;
}

.product-details ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.product-details ul li div{
  display: inline-block;
  padding: 2px 4px;
  border-radius: 100%;
}

.product-details button{
  background: #D27D2D;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: .7rem 1.8rem;
}

.order{
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

 button{
  display: inline-block;
  background: #D27D2D;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: .7rem 1.8rem;

}

.categories__container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories__grid-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  width: 90%;
  background: #E1C16E;
}

.categories-text{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 4rem;
}

.categories__images-container{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.categories__images{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  bottom: -18rem;
  right: -2rem;
}

.categories__images > div{
  background: #D27D2D;
  padding: 1.3rem 1rem;
  border-radius: .7rem;
  box-shadow: 0 .4rem 1.5rem rgba(0, 0, 0, 0.3);
}

.categories__images > div > button{
  background: transparent;
  padding: 0;
}
/*
.categories__grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 3rem 0;
}

.categories__grid-container > div{
  position: relative;
} */

/* .office{
  background: #d27d2d98;
  z-index: 100;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .8s ease-in;
  color: #fff;
  opacity: 0;
}

.office:hover{
  opacity: 1;
  transition: all .8s ease-in;
  cursor: pointer;
} */

.about__container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow:  0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 4rem 2rem;
  height: 100vh;
}

.about__container h1{
  margin-top: 2rem;
  padding-top: 3rem;
}

.about__container-grid{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8rem 2rem;
  gap: 5%;
}

.about__text-container{
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.4rem;
  flex-direction: column;
}

.learn-more{
  text-decoration: none;
  color: #D27D2D;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  position: relative;
}

/* COMEBACKM HERE LATER */
.learn-more:hover .learn-more::after{
  height: 1rem;
  width: 100%;
  position: absolute;
  bottom: -1rem;
  background: #D27D2D;
}

.photo__composition{
  width: 55%;
  position: relative;
}

.photo__composition > div{
  position: absolute;
  width: 50%;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: all .3s ease-in;
  outline-offset: .5rem;
  background: transparent;
}

.p1{
  top: -2rem;
  left: 0;
}

.p2{
  right: 0;
}

.p3{
  left: 20%;
  top: 4rem;
}

.photo:hover{
  transform: scale(1.1) translateY(-1rem);
  z-index: 20;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  outline: .5rem solid #D27D2D;
}

.photo__composition:hover .photo:not(:hover){
  transform: scale(.95);
}

.contact__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: #E1C16E;
  padding: 2rem 0;
  width: 90%;
}

.contact-text{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #000000;
}

.contact-form{
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact__text-inner{
  width: 70%;
  background: #D27D2D;
  /* height: 140%; */
  position: absolute;
  right: 0%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.contact__text-inner > div{
  width: 10rem;
  align-self: center;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: .8rem;
}

.contact__container form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.contact-info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: .8rem;
  width: 100%;
}

.input__fields-names{
  display: flex;
  gap: .3rem;

}

.input__fields-names > input::placeholder{
  color: #fff;
}

.input__fields-names > input{
  background: #01010134;

  border: none;
  padding: 1rem .5rem;
  border-radius: .4rem;
}

.form-control{
  width: 100%;
}

.form-control > input::placeholder,
.form-control > textarea::placeholder{
  color: #fff;
}

.form-control > input,
.form-control > textarea{
  width: 100%;
  border: none;
  padding: 1rem .5rem;
  border-radius: .4rem;
  background: #01010134;
}

.contact-main__container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}




.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  background: #E1C16E;
  box-shadow: inset 0 .7rem 2rem rgba(0, 0, 0, 0.5);
}

.footer-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}

.footer-flex > ul{
  display: flex;
  flex-direction: column;
  gap: .9rem;
  list-style: none;
}

.first-foot{
  margin-bottom: 2rem;
  font-size: 1.58rem;
  font-weight: 700;
}

.footer-flex ul li:hover{
  letter-spacing: 0.4rem;
  font-size: 1rem;
}


.testimonial-container{
  height: 100vh;
  /* display: grid;
  align-items: center;
  justify-content: center; */
  align-content: center;
  gap: 10rem;
}

.testimonial__avatar{
  width: 6rem;
  height: 6rem;
  border: .7rem solid #D27D2D;
  border-radius: 50%;
  align-self: center;
}


.testimonial__list{
  display: flex;
  align-items: center ;
  justify-content: center; 
  margin: 3rem auto;
}

.testimonial{
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 1.5rem;
  width : 40%;
  margin: 0 auto;
  height: 70vh;
}

.testimonial__desc{
  background: #E1C16E;
  padding: 2rem;
  position: relative;
  margin-top: 3rem;
} 

 .testimonial__desc::before{
  content: "";
  background: #E1C16E;
  height: 3rem;
  width: 3rem;
  position: absolute;
  left: 45%;
  top: -1.5rem;
  transform: rotate(45deg);
}

.testimonial__person{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .4rem;
} 

.testimonial-container h1{
  text-align: center;
}



/*********************************
MEDIA QUERY ===920PX
**********************************/

@media only screen and (max-width: 920px){
  body{
    overflow-x: hidden;
  }

  header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-flow: column-reverse;
    margin-top: 5vh;
    margin-bottom: 6rem;
  }

  .categories__container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    margin: 5rem 0rem 2rem 0rem;
  }
  
  .categories__grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width: 90%;
    height: max-content;
    background: #E1C16E;
    position: relative;
    padding: 1.5rem .5rem;
  }
  
  .categories-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0rem;
  }

  .categories-text h1{
    align-self: center;
  }
  
  .categories__images-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    margin-top: 3rem;
  }
  
  .categories__images{
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    bottom: 0;
    right: 0;
  }
  

  .about__container{

    height: max-content;
  }
  
  .about__container h1{

    align-self: center;

  }
  
  .about__container-grid{

    flex-direction: column;

  }
  
  .about__text-container{

    width: 100%;
  }

  .photo__composition{

    width: 100%;
  }
  


  .contact__text-inner{
    width: 100%;
  }
  
  .testimonial{
    width: 80%;
  }

  .contact-main__container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 4rem;
  }

}